nav{
	background-color: slategrey;
}
nav ul li{
	list-style-type: none;
}
nav ul li a{
	text-decoration: none;
	color: white;
}
nav ul li a:hover{
	background-color: lightgrey;
}
h1{
font-size: 25px;
font-family: "Arial";
}
h1 a{
	text-decoration: none;
}
ul li {
	font-family: Arial;
	margin: 4px;
}
footer section{
	text-align: center;
}
footer section a{
	text-decoration: none;
	color: white;
}
body{
	margin: 5px 8px 5px 8px;
	padding: 2px;
	font-family: Arial;
}
img{
	height: 100px;
	width: auto;
}
.contactlinks{
	display: flex;
	justify-content: space-around;
}
.contactlinks li{
	list-style-type: none;
}
footer{
	grid-row: -1/-2;
	background-color: slategrey;
}