body{
	margin: 5px 8px 5px 8px;
	padding: 2px;
}
.container{	
	display: grid;
	grid-template-rows: 120px auto 50px;
	grid-gap: 2px;
}
header{
	grid-row: 1/2;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}
nav ul {
	grid-row: -2/-1;
	display: flex;
	justify-content: space-around;
}
main{
	grid-row: 2/3;
	padding: 5px
}
footer{
	grid-row: -1/-2;
	background-color: slategrey;
}
.technicalinv{
	padding: 5px;
}
.technicalinv ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.technicalinv ul li {
	margin: 0px 3px 0px 3px;
}

.mainbullet a {
	color: black;
	text-decoration: none;
}