h1{
font-size: 25px;
font-family: "Arial";
}
h1 a{
	text-decoration: none;
}
nav{
	background-color: slategrey;
}
nav ul li{
	list-style-type: none;
}
nav ul li a{
	text-decoration: none;
	color: white;
}
.header{
	text-align: center;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
img{
	height: 150px;
	width: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
p{
	text-align: center;
	font-size: 15px;
	font-family: "Arial";
}
footer section{
	text-align: center;
}
footer section a{
	text-decoration: none;
	color: white;
}
ul li {
	font-family: Arial;
	margin: 4px;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-family: "Arial";
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;

}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}